.novedades{
    padding: 5px;
    border-style: solid;
    border-color: black;
    padding: 5px;

    article{
        padding: 10px;
    }

    a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }
}